<div class="add-user-form">
  <h2>Add a New User</h2>

  <div ng-if="vm.userSubmitted" class="alert alert-success">
    <div class="alert-header">
      Your user has been added.
    </div>
    Username: {{vm.username}} </br>
    Password: {{vm.password}}
  </div>

  <div ng-if="vm.userSubmitted == false" class="alert alert-danger">
    <div class="alert-header">
      User already exists.
    </div>
  </div>

  <formly-form model="vm.new_user" fields="vm.userFields">
    <button type="submit" class="usa-button btn btn-default" ng-click="vm.submit()">Submit</button>
  </formly-form>

</div>
