<div class="app-menu">
  <div class="menu-header"><a class="close-button" href ng-click="vm.hideMenu()"><i class="fa fa-bars"></i></a> Menu</div>
  <div>
    <div ng-class="{'current': vm.isInSection('home')}"><a href="#/home" ng-class="{'nav-current': vm.isInSection('home')}">Home</a></div>
    <div ng-class="{'current': vm.isInSection('leaderboard')}"><a href ng-class="{'nav-current': vm.isInSection('leaderboard')}">Leaderboard</a></div>
    <div ng-class="{'current': vm.isInSection('mycolleagues')}"><a href ng-class="{'nav-current': vm.isInSection('mycolleagues')}">My Colleagues</a></div>
    <div ng-class="{'current': vm.isInSection('myprofile')}"><a href ng-class="{'nav-current': vm.isInSection('myprofile')}">My Profile</a></div>
    <div ng-class="{'current': vm.isInSection('reports')}"><a href ng-class="{'nav-current': vm.isInSection('reports')}">Reports</a></div>
    <div ng-class="{'current': vm.isInSection('faqs')}"><a href ng-class="{'nav-current': vm.isInSection('faqs')}"><i class="fa fa-comment-o"></i> FAQs</a></div>
    <div ng-if="vm.userName.role == 'Admin'" ng-class="{'current': vm.isInSection('admin')}"><a href="#/admin" ng-class="{'nav-current': vm.isInSection('admin')}"><i class="fa fa-lock"></i> Admin</a></div>
  </div>

  <ul class="profile-actions">
    <li class="my-profile">
      <a href>
        <div class="profile-image">
          <div class="no-profile-image">

          </div>
        </div>
        <div class="profile-name">{{vm.userName.name}}</div>

        <i class="fa fa-user"></i> <span class="label">My Profile</span>
      </a>
    </li>
    <li class="edit-settings">
      <a href="#/user-settings" title="Edit Your Settings"><i class="fa fa-gear"></i> <span class="label">Settings</span></a>
    </li>
    <li class="logout">
      <a ng-click="vm.logoutHandler()" class="profile-link" title="Logout"><i class="fa fa-sign-out"></i> <span class="label">Logout</span></a>
    </li>
  </ul>
</div>
