<div class="app-menu">
  <div class="menu-header"><a class="close-button" href ng-click="vm.hideMenu()"><i class="fa fa-bars"></i></a> Menu</div>
  <div>
    <div ng-class="{'current': vm.isInSection('create-kudo')}"><a href="#/create-kudo" ng-class="{'nav-current': vm.isInSection('create-kudo')}"><i class="fa fa-home"></i> Give a Kudo</a></div>
    <div ng-class="{'current': vm.isInSection('kudos')}"><a href ng-class="{'nav-current': vm.isInSection('kudos')}"><i class="fa fa-trophy"></i> Recommendations</a></div>
    <div ng-class="{'current': vm.isInSection('people')}"><a href="#/people" ng-class="{'nav-current': vm.isInSection('people')}"><i class="fa fa-users"></i> People</a></div>
    <div ng-if="vm.userName.role == 'Admin'" ng-class="{'current': vm.isInSection('admin')}"><a href="#/admin" ng-class="{'nav-current': vm.isInSection('admin')}"><i class="fa fa-lock"></i> Admin</a></div>
  </div>

  <ul class="profile-actions">
    <li class="my-profile">
      <a href>
        <div class="profile-image">
          <div class="no-profile-image">

          </div>
        </div>
        <div class="profile-name">{{vm.userName.name}}</div>

        <i class="fa fa-user"></i> <span class="label">My Profile</span>
      </a>
    </li>
    <li class="edit-settings">
      <a href="#/user-settings" title="Edit Your Settings"><i class="fa fa-gear"></i> <span class="label">Settings</span></a>
    </li>
    <li class="logout">
      <a ng-click="vm.logoutHandler()" class="profile-link" title="Logout"><i class="fa fa-sign-out"></i> <span class="label">Logout</span></a>
    </li>
  </ul>
</div>
