<!doctype html>
<html ng-app="flashApp">
  <head>
    <meta charset="utf-8">
    <title>AWCRAPP (DRYRUN)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body class="usa-sans" ng-controller="AppController as vm">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-if="vm.state.current.name != 'login'">
      <header class="app-header" role="banner">
        <div class="site-navbar">
          <div class="col-xs-6 col-sm-4 col-md-4">
            <a class="menu-toggle" href ng-click="vm.toggleNavMenu()"><i class="fa fa-bars"></i></a>
            <span class="app-name"><img src="/assets/images/logo-white.png" alt="Kudo" />AWCRAPP</span>
          </div>
          <div class="col-xs-6 pull-xs-right col-sm-4 col-md-4 logo">
            <img src="/assets/images/dhs-seal.png">
          </div>
        </div>
      </header>

      <nav-menu ng-class="{'nav-hide': !vm.showNavMenu}" data-menu-visible="vm.showNavMenu"></nav-menu>
    </div>
    <div class="app-content" ui-view></div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- external dependencies -->
    <script src="assets/scripts/ga.js"></script>
  </body>
</html>
