/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/*----------------------------------------
[Table of Contents]

  1. Variables
  2. Bootstrap overrides
  3. Global
  4. Main
----------------------------------------*/

/*----------------------------------------
  1. Variables
----------------------------------------*/

@import 'variables';

/*----------------------------------------
  2. Bootstrap overrides
----------------------------------------*/

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

ul li::before {
  content: none !important;
}

/*----------------------------------------
  3. Global
----------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: $grey;
  color: $black;
  padding: 0.2em 0;
}

body {
  height: 100%;
  width: 100%;
}

.center-all {
  text-align: center;
}

/*----------------------------------------
  4. Main
----------------------------------------*/

header.app-header {
  z-index: 10;
  color: white;
  background: linear-gradient(to right, #376996, #112e51);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: $app-header-height;

  .menu-toggle,
  .menu-toggle:hover {
    color: white;
  }

  .menu-toggle {
    margin-left: 3rem;
    margin-right: 1rem;
  }

  .app-name {
    font-size: 1.5rem;
    line-height: $app-header-height;
  }

  @media screen and (max-width: 768px) {
    .logo {
      text-align: right !important;
    }
    .app-name {
      font-size: 1rem;
    }
  }

  .logo {
    text-align: center;

    img {
      margin-top: 5px;
      width: 40px;
      height: 40px;
    }
  }
}

nav-menu.ng-hide .app-menu {
  opacity: 0;
  left: -100px !important;
}

nav-menu {
  transition: all linear 0.25s;
  position: fixed;
  left: 0;
  width: 175px;
}

.app-content {
  margin-top: 70px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
