/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import 'bourbon';

/*----------------------------------------
[Table of Contents]

  1. Variables
  2. Bootstrap overrides
  3. Global
  4. Main
----------------------------------------*/

/*----------------------------------------
  1. Variables
----------------------------------------*/

$brand-540: #222;
$black: #000;
$grey: #ccc;
$white: #fff;

/*----------------------------------------
  2. Bootstrap overrides
----------------------------------------*/

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

ul li::before {
  content: none !important;
}

/*----------------------------------------
  3. Global
----------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: $grey;
  color: $black;
  padding: 0.2em 0;
}

/*----------------------------------------
  4. Main
----------------------------------------*/

header.app-header {
  color: white;
  @include linear-gradient(to right, #205493, #112e51);
  height: 50px;
}

.app-menu {
  background-color: white;
  border-right: solid 1px black;
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  min-height: 100%;
  height: 100%;

  .profile-background {
    background-color: grey;
    color: white;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
