/*----------------------------------------
  People
----------------------------------------*/

.landing-page {
  margin-left: 200px;
  margin-top: 20px;
  .landing-header {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0071bc;
  }
  .create-kudo {
    text-align: center;
    margin-bottom: 20px;
    button {
      width: 100%;
    }
  }
  .user-stats {
    margin: 0;
    height: 300px;
    background-color: #f1f1f1;
    padding: 10px;
    display: inline-block;
    .stats-title {
      width: 100%;
      height: 15%;
      padding: 5px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: #0071bc;
    }
    .stats-donut {
      width: 100%;
      height: 55%;
      padding: 27.5%;
    }
    .stats-metrics {
      width: 100%;
      height: 30%;
      padding-left:10%;
      display: inline-block;
      .metric {
        width: 30%;
        float: left;
        height: 100%;
        margin-left: 1%;
        .number {
          height: 50%;
          width: 85%;
          border-radius: 50%;
          text-align: center;
          padding-top: 25%;
          font-weight: bold;
          color: #fff;
        }
        .total {background-color: #fdb81e;}
        .given {background-color: #3e94cf;}
        .received {background-color: #00f6b8;}
        .label {
          height: 50%;
          width: 100%;
          margin-left: 5px;
          color: #5b616b;
          font-weight: normal;
        }
      }
    }
  }
  .notification-section {
    margin-left: -5%;
    .notification {
      margin-bottom: 25px;
      .notification-details {
        .type {
          font-size: 1.15rem;
          font-weight: bold;
          text-transform: uppercase;
        }
        .by {
          font-size: 1.15rem;
          font-weight: bold;
          color: #0071bc;
        }
        .message {

        }
      }
      .notification-actions {
        button {
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}

.kudo-modal-body {
  width: 100%;
  .user-lookup {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    .lookup-label {
      font-size: 18px;
    }
  }
  .kudo-content {
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    select {
      margin-bottom: 10px;
    }
    select, textarea {
      max-width: none !important;
      width: 100%;
    }
  }
  .submit-kudo {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    .submit {
      float: right;
    }
    .cancel {
      float: left;
    }
    button {
      width: 160px;
    }
  }
}
