/*----------------------------------------
  People
----------------------------------------*/

.landing-page {
  margin-left: 200px;
  margin-top: 20px;
  .landing-header {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0071bc;
  }
  .user-stats {
    margin: 0;
    height: 300px;
    background-color: #f1f1f1;
    padding: 10px;
  }
  .notification-section {
    margin-left: -5%;
    .notification {
      margin-bottom: 25px;
      .notification-details {
        .type {
          font-size: 1.15rem;
          font-weight: bold;
          text-transform: uppercase;
        }
        .by {
          font-size: 1.15rem;
          font-weight: bold;
          color: #0071bc;
        }
        .message {

        }
      }
      .notification-actions {
        button {
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}
