/*----------------------------------------
  People
----------------------------------------*/

.people-home {
  font-family: 'Source Sans Pro';
  margin-left: 200px;
  padding: 20px 0 0 40px;
  .people-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    .people-title {
      float: left;
      width: 30%;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #0071bc;
    }
    .people-filters {
      width: 70%;
      float: right;
      display: inline-block;
      .filter {
        float: left;
        width: 35%;
        display: inline-block;
        span {
          width: 25%;
          float: left;
          padding: 0 5px 0 0;
          text-align: right;
        }
        select {
          width: 75%;
          float: right;
        }
      }
      .view-type {
        float: right;
        width: 24%;
        margin-left: 6%;
        i {
          font-size: 24px;
          padding: 0 12px 0 0;
        }
        i:hover {
          color: #0071bc;
        }
      }
    }
  }
  .people-grid {
    margin-left: -3%;
    margin-right: 3%;
    padding: 6px;
    .tile {
      width: 310px;
      min-width: 310px;
      max-width: 310px;
      border: 1px solid #d8d8d8;
      border-radius: 3px;
      height: 160px;
      padding-top: 20px;
      display: inline-block;
      .user-img {
        float: left;
        width: 160px;
        span {
          min-width: 110px;
          margin: 0px;
          padding: 0px;
          img {
            margin-left: 20px;
            padding: 0px;
            border-radius: 60px;
            width: 110px;
            height: 110px;
          }
        }
        .rec-counts {
          height: 40px;
          position: relative;
          bottom: 18px;
          display: inline-block;
          width: 60%;
          margin-left: 27px;
          color: #ffffff;
          font-weight: bold;
          .given {
            cursor: pointer;
            width: 30px; height: 30px;
            float: left;
            background-color: #3e94cf;
            border-radius: 15px;
            padding: 6px 0 0 11px;
          }
          .received {
            cursor: pointer;
            width: 30px; height: 30px;
            float: right;
            background-color: #00f6b8;
            border-radius: 15px;
            padding: 6px 0 0 11px;
          }
        }
      }
      .user-details {
        width: 140px;
        float: left;
        .name {
          color: #0071bc;
          font-size: 14px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
        }
        .title {
          font-size: 14px;
        }
        .department {
          font-size: 12px;
          font-style: italic;
        }
        button {
          margin-top: 20px;
          font-size: 12px;
        }
      }
    }
    .tile:hover {
      box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    }
  }
  .people-list {

  }
}
